* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* hero starts */

.hero__section {
  background-image: url(./images/heroSectionBackground.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 60vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar__menu_container {
  display: flex;
  gap: 20px;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(60vh-60px);
  gap: 32px;
}

.hero__section_logo {
  width: 200px;
}

.hero__section_title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.hero__section_input_container {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50%;
  border-radius: 10px;
  flex-direction: row;
}

.input_container_location,
.input_container_search {
  padding: 5px;
  border: none;
  outline: none;
  /* justify-content: space-between; */
}

.input_container_search {
  width: 65%;
}

.input_container_location {
  width: 35%;

  border-right: 2px solid #e0e0e0;
}

.navbar__menu_container .user__icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1px white;
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar__menu_container .link {
    display: none;
  }

  .navbar {
    padding: 16px;
  }

  .navbar__menu_container .user__icon {
    display: flex;
  }

  .hero__section {
    min-height: 80vh;
  }

  .hero__section_input_container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }

  .input_container_location,
  .input_container_search {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80%;
  }

  .hero__section_container {
    height: calc(80vh - 60px);
  }

  .hero__section_title {
    font-size: 20px;
    width: 80%;
  }
}

.container {
  margin: 48px auto;
  width: 80%;
}

/* hero section ends */

/* offer starts */
.we__offer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.we__offer .card {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.we__offer .card:hover {
  transform: scale(1.05);
}

.we__offer .card img {
  width: 270px;
  height: 140px;
  object-fit: cover;
  object-position: center;
}

.we__offer .card h2 {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #363636;
}

.we__offer .card p {
  font-size: 12px;
  font-weight: 400;
  color: #4f4f4f;
  padding: 0 10px 10px 10px;
}

/* offer ends */
/* collection strats */
.collections h1 {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 600;
}

.sub__heading_container {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.sub__heading_container span:nth-child(2) {
  color: #ff7e8b;
  font-size: 14px;
}

.collections_card_containers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}

.collections_card_containers .card {
  height: 300px;
  min-width: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}

.card1 {
  background-image: url(./images/col1.jpg);
}

.card2 {
  background-image: url(./images/col2.jpg);
}

.card3 {
  background-image: url(./images/col3.jpg);
}

.card4 {
  background-image: url(./images/col4.jpg);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%
    ),
    rgba(0, 0, 0, 0.05) 85%;
}

.collections_card_containers .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 12px 16px;
  font-size: 14px;
}

.collections_card_containers h4 {
  font-size: 18px;
  font-weight: 400;
}
/*!collection ends */

/* !location strats */
.locations h1 {
display: flex;
/* align-items: center; */
justify-content: center;
  font-weight: 300;
  font-size: 36px;
  color: rgb(56, 56, 56);
}


.location__card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  padding: 3rem 0;
  gap: 1rem;
}

.location_card {
  border: 1px solid rgb(235, 233, 233);
  box-shadow: 0 1px 3px rgb(226, 223, 223);
  width: 340px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
}

/* .location_content {} */


.location_content h5 {
  font-size: 20px;
  color: #1c1c1c;
}
.location_content h4 {
  font-size: 20px;
  font-weight: 400;
}
.location_content span {
  font-size: 16px;
  color: #363636;
  font-weight: 300;
}
@media only screen and (max-width: 900px) {
  .location__card_container {
    grid-template-columns: 1fr 1fr;
  }
  .location__card_container i {
    padding: 10px;
  }
  .location_card {
    width: 300px;
    justify-content: center;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .location__card_container {
    grid-template-columns: 1fr;
  }

  .location_card {
    width: 300px;
    justify-content: center;
    padding-left: 20px;
  }
  .location__card_container i {
    padding: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .location__card_container {
    grid-template-columns: 1fr;

  }

  .location_card {
    width: 200px;
    justify-content: center;
    padding-left: 20px;
  }
  .location__card_container i {
    padding: 10px;
  }
  
}

  
  .location__card_container h4, span {
display: flex;
justify-content:center; 
}

/* !location ends */

/* Get the app starts */

.semiContainer button{
border-radius: 5px;
}
.get__the_app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 251, 247);
  width: 100%;
  padding: 3rem 6rem;
}

.get__the_app .semiContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.get__the_app .semiContainer .left {
  flex: 2;
}

.get__the_app .semiContainer .left img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.get__the_app .semiContainer .right {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right h1 {
  font-weight: 410;
  font-size: 44px;
  color: #1c1c1c;
}

.right p {
  font-size: 16px;
  color: #363636;
}

.semiContainer .right .radio__button_container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.semiContainer .right .radio__button_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.right .radio__button_container div input {
  height: 16px;
  width: 16px;
  accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input_container {
  display: flex;
  gap: 8px;
}

.input_container button,
.input_container input {
  padding: 10px 12px;
}

.input_container input {
  border: 1.5px solid gray;
  outline: none;
  border-radius: 5px;
  flex: auto;
}

.input_container button {
  border: none;
  background-color: rgb(239, 79, 95);
  color: white;
  background-color: 5px;
  cursor: pointer;
}

.right .download_app_container {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.download_app_container div {
  display: flex;
  gap: 16px;
}

.download_app_container div img {
  width: 35%;
}

.download_app_container h5 {
  font-size: 15px;
  color: #9c9c9c;
  font-weight: 270;
}

@media only screen and (max-width: 1300px) {
  .get__the_app .semiContainer .left,
  .get__the_app .semiContainer .right {
    flex: 1;
  }

  .get__the_app .semiContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .get__the_app {
    padding: 32px;
  }

  .get__the_app .semiContainer {
    width: 90%;
  }
}

@media only screen and(max-width:700px) {
  .get__the_app {
    padding: 3rem 0;
  }

  .get__the_app .semiContainer {
    width: 80%;
    flex-direction: column;
  }
}
/* Get the app ends */

/* foooter starts*/
.footer {
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 50px 0;
}

.footer_section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footer_section1 img {
  width: 120px;
}

.section1__buttonConatiner {
  display: flex;
  gap: 16px;
}

.section1__buttonConatiner button {
  padding: 5px;
  width: 100px;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/* 
.fa-angle-down {
  color: #363636;

} */

.navigation_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  padding: 3 rem 0;
  gap: 1 rem;
}
.link__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link__container h5 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}
.footer__link {
  text-decoration: none;
  color: #696969;
  font-size: 13px;
  font-weight: 300;
}
.footer__link:hover {
  color: black;
}

.social__links_container {
  display: flex;
  gap: 0.5rem;
}

.social__links_container button {
  background-color: black;

  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__links_container button i {
  color: white;
  font-size: 13px;
}
.footer__store_logo {
  width: 80%;
}
@media only screen and(max-width:900px) {
  .navigation_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .navigation_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 450px) {
  .footer_section1 {
    flex-wrap: wrap;
    gap: 24px;
  }
  .navigation_container {
    grid-template-columns: 1fr;
  }
}
/* foooter ends*/
